$card_header_font_color: rgba(0, 0, 0, 0.87);
$card_body_font_color: rgba(0, 0, 0, 0.54);
$card_shadow: rgba(0, 0, 0, 0.2);
$card_title_font_color: rgba(0, 0, 0, 0.87);
$card_details_font_color: rgba(0, 0, 0, 0.54);

.my-cards {
  display: flex;
  flex-wrap: wrap;
}

// flex: 0 1 calc(30% - 1em);
// margin: 0 0.5rem;
.my-card {
  flex: 1 0 30%;
  margin: 1%;
  &:hover {
    box-shadow: 0 8px 16px 0 $card_shadow;
  }
  &:last-of-type {
    flex-grow: 0;
  }
}

.my-card-header {
  color: $card_header_font_color;
  padding: 5px;
}

.my-card-title {
  color: $card_title_font_color;
  font-size: 1.5em;
  font-weight: 700;
  a {
    color: $card_title_font_color;
  }
}

.my-card-description {
  color: $card_details_font_color;
}

.my-card-body {
  padding: 2px 16px;
  color: $card_body_font_color;
}

.my-card-avatar {
  color: $card_title_font_color;
}

.my-card-avatar-label {
  color: $card_details_font_color;
}

// window adjustment

/* .my-card 
  box-shadow: 0 4px 8px 0 $card_shadow;
  transition: 0.3s;
  border-radius: 5px;
  width: 360px;
  padding: 10px;
  float: left;
  margin: 0px 5px;*/
